@use './../../styles/variables' as v;
.list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;

  &__item {
    border: 2px solid v.$color-primary;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-title {
      font-weight: bold;
      background-color: v.$color-primary;
      padding: 0.5rem;
      margin: -0.5rem -0.5rem 0;
    }

    &-genres {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
