@use './../../styles/variables' as v;
.app {
  min-height: 100vh;
  max-width: 80rem;
  margin: 0 auto;
  background-color: v.$color-light;

  &__title {
    text-align: center;
    color: v.$color-primary;
  }
}
